<div style="text-align:center" *ngIf="pokemon">
    <mat-card class="pokemon-card" [style.background]="getTypeBackgroundColor(pokemon.details.types[0].type.name)" *ngIf="pokemon.details" >
        <mat-card-title>{{ pokemon.name | titlecase }}</mat-card-title>
            <div class="background-image">
                <img
                mat-card-image
                src="{{ pokemon.details.sprites.front_default }}"
                alt="photo of {{ pokemon.name }}"
                />
            </div>
        <mat-card-content>
            <div class="pokemon-details-container">
                <!-- Left column -->
                <div class="pokemon-details-left">
                    <div> Weight: {{ pokemon.details.weight }} </div>
                    <br>

                    <div> Height: {{ pokemon.details.height }}</div>
                    <br>

                    <label>Type: </label>
                    <div *ngFor="let type of pokemon.details.types" class="types" [style.background]="getTypeColor(type.type.name)">
                    {{ type.type.name | titlecase }}
                    </div>

                    <br>

                    <label>Abilities: </label>
                    <div *ngFor="let ability of pokemon.details.abilities" class="types">
                    {{ ability.ability.name | titlecase }}
                    </div>
                </div>

                <!-- Right column -->
                <div class="pokemon-details-right">
                    <label> Base Stats </label>
                    <div *ngFor="let stat of pokemon.details.stats">
                        <label>{{ stat.stat.name | titlecase }}</label>
                        <div class="stat-bar"> 
                            <div class="stat-progress" [style.width.%]="stat.base_stat / 255 * 100">{{ stat.base_stat }}</div>
                        </div>
                    </div>
                </div>
            </div>
        </mat-card-content>
    </mat-card>
</div>