<app-header></app-header>

<div style="text-align:center" *ngIf="pokemon">
    <mat-card class="pokemon-card" [style.background]="getTypeBackgroundColor(pokemon.details.types[0].type.name)" *ngIf="pokemon.details" >
        <mat-card-title>{{ pokemon.name | titlecase }}</mat-card-title>
        <div class="pokemon-rating">
            <span class="rating" *ngIf="pokemon.rating">{{ pokemon.rating | number: '1.2-2'}}</span>
            <span class="unrated" *ngIf="!pokemon.rating">Unrated</span>
            <ngx-stars 
            [readonly]="true" 
            [maxStars]="10" 
            *ngIf="(pokemon.rating || pokemon.rating === 0)" 
            [size] = 2
            [color] = "'black'"
            [initialStars]="pokemon.rating">
            </ngx-stars>
            <span class="rating-number">{{ pokemon.rating_number }} ratings</span>
        </div>
        <div class="background-image">
            <img
            mat-card-image
            src="{{ pokemon.details.sprites.front_default }}"
            alt="photo of {{ pokemon.name }}"
            />
        </div>
        <mat-card-content>
            <div class="pokemon-details-container">
                <!-- Left column -->
                <div class="pokemon-details-left">
                    <div class="property">
                        <span class="property-label">WEIGHT:&nbsp;</span>
                        <span class="property-value">{{ pokemon.details.weight }} hectograms</span>
                    </div>
            
                    <div class="property">
                        <span class="property-label">HEIGHT:&nbsp;</span>
                        <span class="property-value">{{ pokemon.details.height }} decimeters</span>
                    </div>
                    
                    <div class="property">
                        <span class="property-label">TYPE:&nbsp;</span>
                        <div *ngFor="let type of pokemon.details.types" class="types" [style.background]="getTypeColor(type.type.name)">
                            {{ type.type.name | titlecase }}
                        </div>
                    </div>
                    
                    <div class="property">
                        <span class="property-label">ABILITIES:&nbsp;</span>
                        <div *ngFor="let ability of pokemon.details.abilities" class="types">
                            {{ ability.ability.name | titlecase }}
                        </div>
                    </div>
                </div>
            
                 <!-- Right column -->
                <div class="pokemon-details-right">
                    <div *ngFor="let stat of pokemon.details.stats" class="stat-row">
                        <div class="stat-label">{{ stat.stat.name | uppercase }} </div>
                        <div class="stat-bar">
                            <div class="stat-progress" [style.width.%]="stat.base_stat / 255 * 100"></div>
                            <span class="base-stat">{{ stat.base_stat }}</span>
                        </div>
                    </div>
                </div>
            </div>
        </mat-card-content>
        <div class="pokemon-get-rating">
            <span style="margin-right: 10px; font-weight:bold"> Rate this pokemon! </span>
            <ngx-stars  
            [maxStars]="10" 
            [size] = 2
            [color] = "'black'"
            [wholeStars]="true"
            (ratingOutput)="onRatingSet($event)">
            </ngx-stars>
        </div>
    </mat-card>
</div>